.raketineslike {
  width: 200px;
  height: 200px;
  margin-top: 1rem;
  object-fit: cover;
}

.lele {
  display: flex;
}

.nasloviopis {
  margin: 1rem;
}

.reserved-badge {
  background-color: blue;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
}

.reserv {
  background-color: blue;
  color: white;
  padding: 7px;
  border-radius: 4px;
  border: hidden;
}

.cancel {
  background-color: white;
  border-radius: 7px;
  padding: 7px;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
